{
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": [2, "single"],
    "eol-last": [0],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "strict": [2, "never"],
    "semi": [2, "never"],
    "no-trailing-spaces": [2, { skipBlankLines: true }]
  }
}
